.navigation {
  display: flex;
  flex-direction: column;

  width: 306px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  height: 100vh;
}

.header {
  display: flex;
  gap: 8px;
  width: 306px;
  padding: 36px 83px 0 28px;
  margin-bottom: 53px;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #838383;
}

.navText {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
}
.navText::after,
.textIsActive::after {
  content: url('assets/icons/arrow.svg');
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}

.textIsActive {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.textIsActive::after {
  content: url('assets/icons/arrowWhite.svg');
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
}
.listItem {
  display: flex;
  gap: 14px;
  padding: 11px 15px 11px 11px;
  align-items: center;
  position: relative;
}
.listItemIsActive {
  display: flex;
  gap: 14px;
  background: #5932ea;
  border-radius: 8px;
  padding: 11px 15px 11px 11px;
  align-items: center;
  position: relative;
}
.listIcon {
  width: 24px;
  height: 24px;
  color: #000;
  fill: currentColor;
}
.listIconIsActive {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.managerWrap {
  display: flex;
  gap: 12px;
  padding-left: 28px;
  margin-top: auto;
  margin-bottom: 76px;
}
.managerInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.managerName {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.managerPosition {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}
