.navigation {
  width: 100%;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  flex-direction: column;
  justify-content: center;
}
.navigation,
.list,
.managerInfo {
  display: flex;
  gap: 0;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  gap: 8px;
  padding: 36px 83px 0 28px;
  margin-bottom: 53px;
  justify-content: center;
}

.title {
  display: flex;
  gap: 4px;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  align-items: baseline;
}

.text {
  font-weight: var(--font-medium);
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: var(--color-text);
}

.navText,
.textIsActive,
.managerName {
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
}

.textIsActive {
  color: var(--color-text-active);
}

.list {
  list-style: none;
  gap: 5px;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.listItem,
.listItemIsActive {
  display: flex;
  gap: 14px;
  padding: 11px 15px 11px 11px;
  align-items: center;
  position: relative;
}
.listItemIsActive {
  background: var(--color-primary);
  border-radius: 8px;
}
.listIcon,
.listIconIsActive {
  width: 24px;
  height: 24px;
}

.managerWrap {
  display: flex;
  gap: 12px;
  padding-left: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
}

.managerName {
  color: var(--color-black);
}
.managerPosition {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-gray);
}
.managerInfo {
  flex-direction: column;
}
.managerPosition,
.managerName,
.list,
.title,
.navText,
.textIsActive {
  margin: 0;
}

@media (min-width: 1440px) {
  .navigation {
    width: 306px;
    height: 100vh;
  }
  .navigation,
  .list,
  .managerInfo {
    flex-direction: column;
  }

  .header {
    width: 306px;
  }

  .navText::after,
  .textIsActive::after {
    content: url('assets/icons/arrow.svg');
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .textIsActive::after {
    content: url('assets/icons/arrowWhite.svg');
  }

  .list {
    gap: 16px;
  }

  .managerWrap {
    margin: 0;
    margin-top: auto;
    margin-bottom: 76px;
  }
}
