.table {
  min-width: 60vw;
  max-width: 64vw;
}
.tableHeadRow {
  display: inline-flex;
  padding-left: 38px;
  position: relative;
  width: 100%;
  margin-bottom: 14px;
}
.tableHeadRow::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  border: 1px solid #eeeeee;
  width: 100%;
}
.tableHead {
  color: #b5b7c0;
}
.tableData,
.tableDataInactive,
.tableDataActive {
  width: 100%;
  color: #292d32;
}
.tableDataInactive {
  color: #df0404;
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableDataActive {
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableHead,
.tableData {
  text-align: left;
}
.tableHead:first-child,
.tableData:first-child {
  padding: 0;
  width: 120px;
  margin-right: 47px;
}

.tableHead:nth-child(2),
.tableData:nth-child(2) {
  width: 8%;
  margin-right: 38px;
}

.tableHead:nth-child(3),
.tableData:nth-child(3) {
  width: 13%;
  margin-right: 27px;
}

.tableHead:nth-child(4),
.tableData:nth-child(4) {
  width: 17%;
  margin-right: 39px;
}

.tableHead:nth-child(5),
.tableData:nth-child(5) {
  width: 13%;
  margin-right: 55px;
}
.tableHead:nth-child(6) {
  text-align: center;
  width: 8%;
}
.tableRow {
  display: inline-flex;
  position: relative;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 38px;
}

.tableRow::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 40px;
  border: 1px solid #eeeeee;
  width: 91%;
}
.tableInfo {
  padding-left: 38px;
  margin-top: 32px;
  color: #b5b7c0;
}
.tableInfo,
.tableData,
.tableDataInactive,
.tableDataActive,
.tableHead {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}
.tableFooter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 64vw;
}
