@import-normalize; /* bring in normalize.css styles */
:root {
  --font-medium: 500;
  --color-text: #838383;
  --color-text-active: #ffffff;
  --color-primary: #5932ea;
  --color-gray: #757575;
  --color-black: #000;
  --color-icon-active: #ffffff;
  --padding-list-item: 11px 15px 11px 11px;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainDiv {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .mainDiv {
    height: 100vh;
    flex-direction: row;
  }
}
